.navbar {
  background: #fff;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  column-gap: 25px;
}

.navbar .container img {
  width: 75px;
  height: 75px; 
}

.navbar .container h2 {
  font-weight: 500;
}

.hero .container{
  display: grid;
  /* grid-column: 2; */
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.hero .container .hero-item textarea {
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: 150px;
}

.hero .container .hero-item .btn {
  float: right;
}

.hero .container .hero-output textarea {
  height: 400px;
}
